/* Base Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    /* margin: 20px; */
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 600px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

h1 {
    margin-bottom: 10px;
    font-size: 1.5em;
}

.calc-container {
    background-color: #eef;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.image-container {
    width: 60%; /* Lebar kontainer bisa disesuaikan */
    margin: 0 auto; /* Centering kontainer jika diperlukan */
    border: 1px solid #ccc; /* Opsional: hanya untuk visualisasi */
}


.responsive-image {
    max-width: 100%;
    height: auto;
    display: block; /* Menghilangkan jarak bawah gambar */
}

h2 {
    font-size: 1.3em;
    margin-bottom: 10px;
}

.input-group {
    margin-bottom: 15px;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input {
    width: calc(100% - 10px);
    padding: 8px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    width: 30%;
}

button:hover {
    background-color: #45a049;
}

.button-page {
    background-color: #2da3c0; /* Hijau */
    color: white;              /* Teks putih */
    padding: 10px 20px;        /* Spasi dalam */
    border: none;              /* Tidak ada border */
    border-radius: 5px;        /* Sudut melengkung */
    cursor: pointer;
    width: 100%;           /* Ubah kursor menjadi tangan saat hover */
}

.button-page:hover {
    background-color: #276385; /* Warna lebih gelap saat di-hover */
}


.reset-button {
    position: absolute;
    right: 10px;
    bottom: 10px;
    background-color: #f44336;
    padding: 8px;
    font-size: 0.9em;
}

.reset-button:hover {
    background-color: #d32f2f;
}


#area-result-container, #perimeter-result-container {
    margin-top: 10px;
    text-align: left;
}

/* Mobile-Friendly Adjustments */
@media (max-width: 480px) {
    .container {
        padding: 15px;
        width: 95%;
    }

    h1 {
        font-size: 1.4em;
    }

    h2 {
        font-size: 1.2em;
    }

    input {
        padding: 7px;
    }

    button {
        padding: 8px;
        font-size: 0.9em;
    }
}
